@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/hind-siliguri/HindSiliguri-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/hind-siliguri/HindSiliguri-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/hind-siliguri/HindSiliguri-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/hind-siliguri/HindSiliguri-Bold.ttf") format("truetype");
  font-weight: 700;
}
